@using Neo.EasyAccounts

@model Neo.Common.Data.PagedData.IPagedData<Neo.EasyAccounts.Models.Domain.Locations.Country>
@{
	int indexer = 0;
}
<table id="listingTable" class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Code</th>
			<th>Description</th>
			<th>Active</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model.Data)
		{
			string metaData = string.Format("Created By {0} on {1} \n", item.CreatedBy, item.DateCreated.ToString("dd MMM yyyy hh:mm:ss"));
			metaData += item.ModifiedBy != null && item.ModifiedBy.Length > 0 ? "Modified By :" + item.ModifiedBy : "";
			metaData += item.DateModified.HasValue ? " on :" + item.DateModified.Value.ToString("dd MMM yyyy hh:mm:ss") : "";
			indexer++;
			<tr title="@metaData" data-toggle="tooltip">
				<td class="text-center">@indexer</td>
				<td>@Html.DisplayFor(modelItem => item.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.Code)</td>
				<td>@Html.DisplayFor(modelItem => item.Description)</td>
				<td>@(item.IsActive ? "Yes" : "No")</td>
				<td class="text-center">
					<a href='@Url.Action("Edit", new { id = item.ID })' title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="pager" id="gridPager">
	@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "gridContainer" }).Options(o => o.Action("Pager"))
</div>
